
/* Responsividade para monitor */
@media screen and (min-height:900px) {
    .box-cafe {
        height: 10.2rem;
    }
}

/* Responsividade Celular */


@media (max-width: 980px){

    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .container-grid {
        display: grid;
        grid-template-columns: 0fr auto 0fr;
    }

    .box-cafe {
        display: grid;
        height: 20rem;
        font-size: 25px;
        margin: 10px auto;
    }

    .nome-cafe {
    font-size: 35px;
    }
    
    select {
        font-size: 35px;
    }

    .custom-arrow {
        right: 30%;
    }
    
}



