
/* Responsividade para monitor */
@media screen and (min-height:900px) {
    .box-cafe {
        height: 10.2rem;
    }
}

.container-grid {
    grid-template-columns: 1fr 3fr 1fr;
}

@media screen and (max-width: 980px){
    .container-grid {
        display: block;
    }

    .box-cafe {
        display: block;
        height: 27rem;
    }

    .custom-arrow {
        right: 30%;
    }
    
}



