* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans Regular';
    font-weight: 100;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

header {
    display: grid;
    place-items: center;
    font-size: 25px;
    margin: 40px;
}

aside {
    background-image: url(../images/coffe.png);
    background-color: #503013;
    background-repeat: space;
}

body {
    background-color: #FFD2A8;
}

.custom-select {
    position: relative;
    padding-top: 50px;
    display: grid;
    place-items: center;
}

.select option {
    color: black;
    font-size: 35px;
    background-color: #FFD2A8;
}

select {
    background-image: url(../images/arrow_white.png);
    background-repeat: no-repeat;
    background-position:right center;
    background-size: 70px;
    appearance: none;
    width: 400px;
    height: 60px;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 60px;
    border-radius: 10px;
    background-color: #503013;
    color: white;
    padding-left: 10px;
    cursor:pointer;
}

.box-cafe {
    margin-top: 0px;
    display: grid;
    align-items: center;
    grid-template-columns: 300px 300px;
    max-width: 400px;
    height: 4rem;
    margin: 40px auto;
    font-size: 20px;
    padding-left: 15px;
}

.container {
    display: grid;
    align-items: center;
}

.nome-cafe {
    padding: 5px;
    font-size: 30px;
}

a {
    color: black;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}